{{ template "chrome/default_head.html" . }}

<div class="container content">
	<p class="message"> 
        One of the pleasures of intellectual life is purely bibliographical: serendipity in finding sources or references, intriguing citations in footnotes or the annotations of a library book, reading suggestions from colleagues. One of its sorrows is that we are not able to give many sources their due. Some merit simply a footnote or parenthetical reference while others are not immediately relevant or useful. Many nevertheless are interesting or amusing, and make an unacknowledged contribution to our academic work. Below is a hode-podge of such books or essays.
	</p>
</div>	

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <ul id="list">
      {{ range .Data.Pages }}
        {{ .Render "li"}}
      {{ end }}
  </ul>
</div>

{{ template "chrome/default_foot.html" . }}
