<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Below are pages relating to my teaching, research, and professional activities at <a href="http://www.hamilton.edu" target="_blank">Hamilton College</a>. 
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .Url "/" }} active {{ end }}" href="/">Home</a>
<!-- Uncomment this line if I ever decide to blog
    <a class="sidebar-nav-item {{ if eq .Url "post" }} active {{ end }}" href="/post">Bibliography</a>
-->
    {{ $thisperma := .Permalink }}
    {{ range .Site.Recent.ByWeight }}
      {{ if isset .Params "sidebar" }}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
<!-- Should the site become more technical in nature, enable this to send people to github. 

    <a class="sidebar-nav-item" href="{{ .Site.Params.Github.Url }}/archive/{{ .Site.Params.Github.Head }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ .Site.Params.Github.Url }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently on {{ .Site.Params.Github.Head }}</span>
-->
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
