{{ template "chrome/default_head.html" . }}

{{ $pagination := 5 }}

<div class="container content">
	<p class="message"> 
        I teach political theory at Hamilton College. I am a Visiting Assistant Professor in the <a href="http://www.hamilton.edu/academics/departments/Home?dept=Government">Government Department</a>. I work also with the <a href="http://www.hamilton.edu/levitt">Arthur Levitt Public Affairs Center</a>
	</p>
	<h2>My Vita</h2>

	<p>Most of my research has been about ideas about work and democracy in American Political Thought. My current work focuses on the varieties of work ethics, the history of social science, and the link between those two topics, and the development of democratic thought. I'm also interested in ideas about authority.</p>
        

        <!-- Recent Posts section -->
        <h1 class="post-title">Recent Posts</h1>
          <section id="main">
            <ul id="list">
              {{ range first 10 .Data.Pages }}
              {{ .Render "summary"}}
              {{ end }}
            </ul>
          </section>
      </div>
    </div>

{{ template "chrome/default_foot.html" . }}
